<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Author Details</title>
</head>

<body>
    <h1> {{ author.first_name }} {{ author.last_name}}</h1>
    <p>ID: {{ author.id }}</p>
    <p>Notes: <b>{{ author.notes }}</b></p>
    <p>Books: </p>
    <ul>
        {% for book in author.books.all %}
        <li> {{ book.title }}</li>
        {% endfor %}
    </ul>

    <form action="/book_to_author/{{ author.id }}" method="POST">
        {% csrf_token %}
        <select name="book_id">
        {% for book in books %}
        <option value="{{ book.id }}">{{ book.title }}</option>
        {% endfor %}
    </select>
        <button>Add</button>
    </form>

</body>

</html>