<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
</head>

<body>
    <h1>Registration</h1>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <form action="/registration" method="POST">
        {% csrf_token %}
        <div>
            <label>First Name: </label>
            <input type="text" name="first_name" id="">
        </div>
        <div>
            <label>Last Name: </label>
            <input type="text" name="last_name" id="">
        </div>

        <div>
            <label>Email: </label>
            <input type="text" name="email" id="">
        </div>

        <div>
            <label>Password </label>
            <input type="password" name="password" id="">
        </div>

        <div>
            <label>Confirm Password </label>
            <input type="password" name="confirm_pw" id="">
        </div>

        <button>Submit</button>
    </form>

    <h1>Login</h1>
    <form action="/login" method="POST">
        {% csrf_token %}
        <div>
            <label>Email: </label>
            <input type="text" name="email" id="">
        </div>

        <div>
            <label>Password </label>
            <input type="password" name="password" id="">
        </div>
        <button>Submit</button>

    </form>


</body>

</html>